$very-dark-magenta: hsl(300, 43%, 22%);
$soft-pink: hsl(333, 80%, 67%);
$dark-grayish-magenta: hsl(303, 10%, 53%);
$light-grayish-magenta: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);
$ff-main: 'League Spartan', sans-serif;
$fs-400: 1.0625rem;
$fs-500: 1.1875rem;
$fs-900: 2rem;
$fw-400: 400;
$fw-500: 500;
$fw-700: 700;

$breakpoint: 50em;
@media (min-width: $breakpoint){
  $fs-900: 3rem;
}

body {
  font-family: $ff-main;
  font-size: $fs-400;
  font-weight: $fw-400;
}

.container {
  padding: 1.5rem;
  margin-bottom: 50px;
}

.hero {
  text-align: center;

  &__title {
    color: $very-dark-magenta;
    font-size: $fs-900;
    font-weight: $fw-700;
    line-height: 2rem;
    margin: 5rem auto 1rem auto;
  }

  &__text {
    color: $dark-grayish-magenta;
    font-size: $fs-500;
    margin: 1rem auto 2rem auto;
    line-height: 1.8;
  }
}

.rating {
  background-color: $light-grayish-magenta;
  text-align: center;
  margin-bottom: 1.5rem;
  padding: 1rem;
  border-radius: 8px;

  &__stars {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
  
  &__title {
    color: $very-dark-magenta;
  }
}

.testimony {
  background-color: $very-dark-magenta;
  padding: 2.5rem 1.5rem;
  margin-top: 1.5rem;
  border-radius: 8px;

  &:first-of-type {
    margin-top: 3rem;
  }

  &__top {
    display: flex;
    align-items: center;
  }

  &__id {
    margin-left: 1.5rem;
  }

  &__image {
    width: 122px;
    border-radius: 50%;
  }

  &__name {
    color: $white;
  }

  &__buyer {
    color: $soft-pink;
  }

  &__text {
    margin-top: 1.5rem;
    color: $white;
  }
}